<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="widget-container">
          <div class="top-left">
            <h1 class="city" id="city">{{city}}</h1>
            <h2 id="state">{{state}}</h2>
            <h3 id="timezone">{{weatherInfo.timezone}}</h3>
            <h3 id="date">{{weatherInfo.current_weather.time|date}}</h3>
      <!--       <a target="_blank" href="https://codepen.io/myleschuahiock/"><p id="codepen-link">codepen.io/myleschuahiock</p></a> -->
            <p class="geo"></p>
          </div>
          <div class="top-right">
            <h1 id="weather-status">Weather Status</h1>
            <img class="weather-icon" src="https://myleschuahiock.files.wordpress.com/2016/02/sunny2.png">
          </div>
          <div class="horizontal-half-divider"></div>
          <div class="bottom-left">
            <h1 id="temperature">{{weatherInfo.current_weather.temperature}}</h1>
            <h2 id="celsius">&deg;C</h2>
           
          </div>
          <div class="vertical-half-divider"></div>
          <div class="bottom-right">
            <div class="other-details-key">
              <p>Latitude</p>
              <p>Longitude</p>
              <p>Windspeed</p>
              <p>Wind Direction</p>
              <p>Elevation</p>
            </div>
            <div class="other-details-values">
              <p class="latitude">{{weatherInfo.latitude}}</p>
              <p class="longitude">{{weatherInfo.longitude}}</p>
              <p class="windspeed">{{weatherInfo.current_weather.windspeed}}</p>
              <p class="wind-direction">{{weatherInfo.current_weather.winddirection}}</p>
              <p class="elevation">{{weatherInfo.elevation}}</p>
            </div>
          </div>
        </div>
       </div>
       <div>
        <accordion [isAnimated]="true">
          <accordion-group heading="Weather History">
           
          </accordion-group>
        </accordion>
       </div>
       
</body>
</html>
